<div class="ui relaxed divided items container">
	{{#each posts}}
		<div class="item">
			<div class="content">
				<a class="header" href="/{{_id}}">{{title}}</a>
				<div class="meta">
					<a>{{formatDate created}}</a>
					<br><br>
					<a>Posted by {{author}}</a>
				</div>
				<div class="preview">
					{{ssubstring body 0 150}}
				</div>
			</div>
		</div>
	{{/each}}
</div>