<!-- Actual Blog Post -->
<div class="ui container">
	<article>
		<header>
			<h1>{{post.title}}</h1>
			<p>{{formatDate post.created}}</p>
			<p>{{post.author}}</p>
		</header>
		<p>{{post.body}}</p>
	</article>
	{{#if user}}
		{{#compare user.type "==" "admin"}}
			<a href="/{{post.id}}/edit"><button class="ui blue button">Edit Post</button></a>
			<form name="delete" role="form" action="/:post?_method=DELETE" method="POST">
				<input type="hidden" name="postID" value={{post.id}}>
				<button class="ui red button">Delete</button>
			</form>
		{{/compare}}
	{{/if}}

	<!-- Comment Section -->
	<div class="ui comments">
		
		{{#if user}}
			<form name="comment" role="form" action="/:post/comment" method="post">
				<div class="form-group">
					<label>Leave a Comment</label>
					<br>
					<input type="hidden" name="postID" value="{{post.id}}">
					<textarea name="postComment"></textarea>
				</div>
				<button class="ui large blue button">Submit</button>
			</form>	
		{{else}}
			<p>You need to log in to leave a comment</p>
		{{/if}}
		
		<h3 class="ui dividing header">Comments</h3>
		{{#each comment}}
		<div class="comment ui segment">
			<div class="content">
				<a class="author">{{author}}</a>
				<div class="metadata"><span class="date">{{formatDate created}}</span></div>
				<div class="text">{{body}}</div>
			</div>
		</div>
		{{/each}}
	</div>	
</div>


