<!-- Actual Blog Post -->
<div class="ui container">
	<article>
		<header>
			<h1 class="ui header">{{post.title}}</h1>
			<span>{{formatDate post.created}}</span>
			<span>--{{post.author}}</span>
			<div class="ui divider"></div>
		</header>
		<div class="ui main text container">
			<p>{{{post.formattedBody}}}</p>
		</div>
	</article>
	{{#if user}}
		{{#compare user.type "==" "admin"}}
			<div class="ui horizontal divider">Admin Controls</div>
			<div class="ui two column grid container">
				<div class="column">
					<a href="/{{post.id}}/edit"><button class="fluid ui blue button">Edit Post</button></a>
				</div>
				<div class="column">
					<form name="delete" role="form" action="/:post?_method=DELETE" method="POST">
						<input type="hidden" name="postID" value={{post.id}}>
						<button class="fluid ui red button">Delete</button>
					</form>
				</div>
			</div>
		{{/compare}}
	{{/if}}

	<!-- Leave a Comment -->
	<div class="ui horizontal divider">Leave a Comment</div>
		{{#if user}}
			<form name="comment" role="form" action="/:post/comment" method="post">
				<div class="form-group">
					<input type="hidden" name="postID" value="{{post.id}}">
					<textarea name="postComment"></textarea>
				</div>
				<button class="ui large blue button">Submit</button>
			</form>	
		{{else}}
			<p>You need to log in to leave a comment</p>
		{{/if}}

	<!-- Comment Section -->
	<div class="ui horizontal divider">Comments</div>
		{{#each comment}}
		<div class="comment ui segment">
			<div class="content">
				<a class="author">{{author}}</a>
				<div class="metadata"><span class="date">{{formatDate created}}</span></div>
				<div class="text">{{body}}</div>
			</div>
		</div>
		{{/each}}	
</div>


